<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
 <!--
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <error statusCode="400" path="C:\inetpub\wwwroot\eliteonline22\error_docs\bad_request.html"/>
      <error statusCode="407" path="C:\inetpub\wwwroot\eliteonline22\error_docs\proxy_authentication_required.html"/>
      <error statusCode="414" path="C:\inetpub\wwwroot\eliteonline22\error_docs\request-uri_too_long.html"/>
      <error statusCode="415" path="C:\inetpub\wwwroot\eliteonline22\error_docs\unsupported_media_type.html"/>
      <error statusCode="503" path="C:\inetpub\wwwroot\eliteonline22\error_docs\maintenance.html"/>
      <error statusCode="401" prefixLanguageFilePath="" path="C:\inetpub\wwwroot\eliteonline22\error_docs\unauthorized.html"/>
      <error statusCode="403" prefixLanguageFilePath="" path="C:\inetpub\wwwroot\eliteonline22\error_docs\forbidden.html"/>
      <error statusCode="404" prefixLanguageFilePath="" path="C:\inetpub\wwwroot\eliteonline22\error_docs\not_found.html"/>
      <error statusCode="405" prefixLanguageFilePath="" path="C:\inetpub\wwwroot\eliteonline22\error_docs\method_not_allowed.html"/>
      <error statusCode="406" prefixLanguageFilePath="" path="C:\inetpub\wwwroot\eliteonline22\error_docs\not_acceptable.html"/>
      <error statusCode="412" prefixLanguageFilePath="" path="C:\inetpub\wwwroot\eliteonline22\error_docs\precondition_failed.html"/>
      <error statusCode="500" prefixLanguageFilePath="" path="C:\inetpub\wwwroot\eliteonline22\error_docs\internal_server_error.html"/>
      <error statusCode="501" prefixLanguageFilePath="" path="C:\inetpub\wwwroot\eliteonline22\error_docs\not_implemented.html"/>
      <error statusCode="502" prefixLanguageFilePath="" path="C:\inetpub\wwwroot\eliteonline22\error_docs\bad_gateway.html"/>
    </httpErrors>
-->
  </system.webServer>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="enterprise" connectionString="Data Source=eliteazsql.database.windows.net;Initial Catalog=EliteDB;User ID=elitecrm; password=" providerName="System.Data.SqlClient"/>
    <add name="INTModelContainer" connectionString="metadata=res://*/App_Code.INTModel.csdl|res://*/App_Code.INTModel.ssdl|res://*/App_Code.INTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eliteazsql.database.windows.net;initial catalog=EliteDB;persist security info=True;user id=elitecrm;password=;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="enterprise" connectionString="Data Source=.;Initial Catalog=EliteDB;User ID=elitecrm; password=" providerName="System.Data.SqlClient"/>
    <add name="INTModelContainer" connectionString="metadata=res://*/App_Code.INTModel.csdl|res://*/App_Code.INTModel.ssdl|res://*/App_Code.INTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EliteDB;persist security info=True;user id=elitecrm;password=;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <machineKey validationKey="43F5DC911BD36946134AB8746FF44E9A72CE54A3" decryptionKey="836B4B32E09B7142B8B8584A6CB3AE27D9920DE2151D8B409B5477454C19ED54" validation="SHA1" decryption="AES"/>
    <compilation targetFramework="4.5" defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. SpecifiRequesty, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

  <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
-->
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableViewStateMac="true"/>
    <sessionState timeout="600"/>
    <httpRuntime maxRequestLength="102400" executionTimeout="120" requestValidationMode="2.0"/>
    <authentication mode="Forms"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>