<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <appSettings>
<!--<add key="ChartImageHandler" value="storage=file;timeout=20;" />-->
<add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;"/>

  </appSettings>

  <connectionStrings>
 <add name="CRM" connectionString="Data Source=eliteazsql.database.windows.net;Initial Catalog=EliteDB;User ID=elitecrm; password=" providerName="System.Data.SqlClient" />
    <!--<add name="CRM" connectionString="Data Source=a2wsql1.a2hosting.com;Initial Catalog=EliteDB;User ID=Enterprise; password=" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
<!--
    <machineKey validationKey="43F5DC911BD36946134AB8746FF44E9A72CE54A3" 

decryptionKey="836B4B32E09B7142B8B8584A6CB3AE27D9920DE2151D8B409B5477454C19ED54" validation="SHA1" 

decryption="AES" />
-->
 <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. SpecifiRequesty, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

	<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
-->
    <customErrors mode="Off">
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableViewStateMac="true" />
    <sessionState timeout="600" />
 <httpRuntime maxRequestLength="102400" executionTimeout="120" requestValidationMode="2.0"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>