	.alert-box {
		color:#555;
		border-radius:10px;
		font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;font-size:11px;
		padding:10px 36px;
		margin:10px;
		position:absolute;
		width:50%;
		font-size:15px;		
	}
	.alert-box span {
		font-weight:bold;
		text-transform:uppercase;
	}
	.error {
		background:#ffecec url('error.png') no-repeat 10px 50%;
		border:1px solid #f5aca6;
	}
	.success {
		background:#e9ffd9 url('success.png') no-repeat 10px 50%;
		border:1px solid #a6ca8a;
	}
	.warning {
		background:#fff8c4 url('warning.png') no-repeat 10px 50%;
		border:1px solid #f2c779;
	}
	.notice {
		background:#e3f7fc url('notice.png') no-repeat 10px 50%;
		border:1px solid #8ed9f6;
	}
		
	.login-box {
		color:#555;
		border-radius:10px;
		font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;font-size:11px;
		padding:10px 36px;
		margin:10px;
		position:absolute;
		width:50%;
		font-size:14px;
	}
	.login	 {
		background:#fff8c4;
		border:1px solid #f2c779;
	}
	