.Heading
{
	background-color: #0099CC;
	color: White;
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
}

.SubHeading
{
	background-color: #ADD8E6;
	color: Black;
	font-family: Tahoma;
	font-size: 9pt;
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
}

.LeftColumn
{
	background-color: #CC3300;
	color: White;
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
}

.Items
{
	background-color: #CCCCCC;
	color: Black;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
}

.Totals
{
	background-color: #ADD8E6;
	color: Black;
	font-family: Tahoma;
	font-size: 9pt;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
}

.Table
{
	border-style: solid;
	border-width: thin;
	border-color: #0099CC;
	background-color: Silver;
}
